
<div class="container">

  <h2>Welcome Admin</h2>

  <button class="btn btn-default btn-sm" *ngIf="showNewMemberForm === false" (click)="addMemberClicked()">Add Member</button>

  <div class="newMemberArea" *ngIf="showNewMemberForm === true">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Member</h3>
      </div>
      <div class="panel-body">
        <div>
          <div>
            <label>Name</label><br>
            <input #newName>
          </div>
          <div>
            <label>Clan Role</label><br>
            <input #newRole>
          </div>
          <div>
            <label>Tech speciality</label><br>
            <input #newTech>
          </div>
          <div>
            <label>Biography</label><br>
            <textarea #newBio rows="5" cols="60"></textarea>
          </div><br>
          <button class="btn btn-default btn-sm" (click)="submitForm(newName.value, newRole.value, newTech.value, newBio.value); newName.value=''; newRole.value=''; newTech.value=''; newBio.value='';">Save</button>
        </div>
      </div>
    </div>

  </div>

  <div>
    <app-roster>Loading...</app-roster>
  </div>

</div>
