<button class="btn btn-default btn-sm" *ngIf="editClicked === false" (click)="editButtonlicked()">EDIT</button>

<div class="editArea" *ngIf="editClicked === true" >

  <div class="container">
    <h3>Edit Member</h3>
    <label>Name:</label>
    <input [(ngModel)]="selectedMember.name">
    <br>
    <label>Role:</label>
    <input [(ngModel)]="selectedMember.role">
    <br>
    <label>Tech:</label>
    <input [(ngModel)]="selectedMember.tech">
    <br>
    <label>Years served:</label>
    <input [(ngModel)]="selectedMember.years">
    <br>
    <label>Bio: </label>
    <textarea [(ngModel)]="selectedMember.bio" rows="4" cols="45" ></textarea>
    <br>
    <button class="btn btn-success btn-sm" (click)="saveClicked(selectedMember)">SAVE</button>
    <button class="btn btn-warning btn-sm" (click)="deleteClicked(selectedMember)">DELTE</button>

  </div>

</div>
